@model List<Dog> 
@* Deklarerar typ av data för vyn att ta emot från controllern. I detta fall en list-typ med Dog-objekt *@

<h1>Our dogs</h1>

<div class="row">
    @foreach (var dog in Model.OrderBy(d => d.Name))
    {
        <div class="col-md-4">
            <div class="card" style="margin-bottom:20px;">
                <a asp-controller="Dogs" asp-action="Details" asp-route-id="@dog.Id">
                    <img src="~/DogImages/@dog.Image" class="card-img-top" alt="@dog.Name" style="cursor:pointer;" />
                </a>
                <div class="card-body">
                    <h5 class="card-title">@dog.Name</h5>
                    @* "Dogs" och "Details" är här bara lokala namn och kan döpas till vad som helst! *@
                    @* Men konventionen är att ange "Förnamnet" ("Dogs", "Adopted") till Controllern (alltså minus "Controller") *@
                    <a asp-controller="Dogs" asp-action="Details" asp-route-id="@dog.Id" class="btn btn-secondary">
                        View details
                    </a>
                </div>
                <div class="card-status">
                    @if (!dog.IsAdopted)
                    {
                        @* "Dogs" och "Adopted" är här bara lokala namn och kan döpas till vad som helst! *@
                        @* Men konventionen är att ange "Förnamnet" ("Dogs", "Adopted") till Controllern (alltså minus "Controller") *@
                        <a asp-controller="Dogs" asp-action="Adopted" asp-route-id="@dog.Id" class="btn btn-primary">
                            Adopt dog!
                        </a>
                    }
                    else
                    {
                        <span class="badge text-bg-success">Already adopted</span>
                    }
                </div>
            </div>
        </div>
    }
</div>
